#if you want to run the gemini fact bot, then paste a gemini API key here: (the previous one that I accidentally leaked has been deactivated)
GEMINI_API_KEY=AIblahblah-blahb-blahblahblahblahblahbl 

#You must link this to your own discord bot, using this token. go to https://discord.com/developers/applications, or look it up
DISCORD_TOKEN=ABCDEFGHIJK12345LLLMDIAfdFDAKJ4534-3.312344879HHJVASDFOOAKLNELAAFADFADFF\

#Probably shouldn't change
CONFIG_FILE=config.json

#Time to generate facts each day, in 24h format. (e.g. 5:19:05 or 17:19:05)
FACT_GENERATION_TIME=05:19:36

#SUPERUSER IDs (Comma separated) - First user will get status DMs from bot if enabled
SUPERUSERS=123412341234123412,432143214321431243

#Status DMs from bot - Debugging
DMS=false